@tailwind base;
@tailwind components;
@tailwind utilities;


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

.hover-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 2rem;
  
}